#contents-wrapper{
  margin: 10px auto;
}

.contents-upper-wrapper{
  max-width: @fixed-page-width;
  margin: 0 auto;
  width: @fixed-page-width;
}

.contents-lower-wrapper{
  background-color: #F0F0F0;
  height: 100%;
  display: inline-block;
  width: 100%;
}

@media all and (max-width: @fixed-page-width) {
  .contents-lower-wrapper {
    width: auto;
  }
}

@import "image-slider";
@import "subslider-navigation";
@import "contents-container.less";