@import "../../common/styles/less/vars";
@import "../../common/styles/less/mixins";
@import "../../common/styles/less/fonts";

.myarticles{
  article{
    border: thin solid #6A4F93;
    border-radius: 6px;
    margin: 30px 60px;
    padding: 15px 30px;
    cursor: pointer;
  }

  .empty-articles-list{
    width: 50%;
    font-size: 30px;
    color: grey;
    font-family: Aria;
    height: 50%;
    overflow: auto;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}