@import "../../common/styles/less/vars";
@import "../../common/styles/less/mixins";
@import "../../common/styles/less/fonts";
@import "../../common/styles/less/buttons";

.home{
  text-align: center;
  a{
    margin: 50px 0;
    padding: 10px 50px;
  }

  article{
    border: thin solid #6A4F93;
    border-radius: 6px;
    margin: 30px 60px;
    padding: 15px 30px;
    cursor: pointer;
  }

}