html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.centrify-vertically {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.centrify-ver-hor {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.clear-fix::after,
.clear-fix::before {
  content: '';
  display: table;
}
.clear-fix::after {
  clear: both;
}
@font-face {
  font-family: "FjallaOne";
  src: url('../../fonts/FjallaOne-Regular.ttf');
}
@font-face {
  font-family: "Oxygen";
  src: url('../../fonts/Oxygen.otf');
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url('../../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url('../../fonts/OpenSans-Regular.ttf');
}
body {
  font-family: "FjallaOne", sans-serif;
  background-image: url("../../images/home-bg.png");
  overflow-x: hidden;
}
@media all and (max-width: 1170px) {
  body {
    overflow-x: scroll;
  }
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-wrapper {
  margin-top: 70px;
  margin-bottom: 60px;
  background-color: #383838;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 60px;
  min-width: 1170px;
}
header {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 1170px;
}
.site-name-box {
  position: absolute;
  left: 0;
  top: -11px;
  line-height: 82px;
  padding: 0 20px;
  color: #fff;
  cursor: default;
  font-size: 45px;
  background-color: #B297C4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.site-navigation {
  float: right;
}
.site-navigation:after {
  clear: right;
}
.site-navigation li {
  float: left;
  list-style-type: none;
  border-left: 1px solid #2a2a2a;
  transition: 0.3s background-color;
}
.site-navigation li:hover {
  background-color: #2a2a2a;
}
.site-navigation li:hover a {
  color: #B297C4;
}
.site-navigation li:last-of-type {
  border-right: 1px solid #2a2a2a;
}
.site-navigation li:last-of-type:after {
  clear: left;
}
.site-navigation li a {
  text-decoration: none;
  transition: .3s color;
  font-size: 15px;
  line-height: 60px;
  display: block;
  padding: 0 20px;
  color: #fff;
}
.contents-wrapper {
  margin: 10px auto;
}
.contents-upper-wrapper {
  max-width: 1170px;
  width: 1170px;
  margin: 0 auto;
}
.contents-lower-wrapper {
  background-color: #F0F0F0;
  display: inline-block;
  width: 100%;
  min-width: 1170px;
}
@media all and (max-width: 1170px) {
  .contents-lower-wrapper {
    /*width: auto;*/
  }
}
/* Footer */
.footer-wrapper {
  background: transparent;
  height: 238px;
  min-width: 1170px;
}
footer {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 1170px;
}
footer > div {
  height: 50%;
  box-sizing: border-box;
}
footer > div::after,
footer > div::before {
  content: '';
  display: table;
}
footer > div::after {
  clear: both;
}
footer > div:first-of-type {
  border-bottom: thin solid rgba(74, 74, 74, 0.8);
}
.copyright-info,
.authors-info,
.images-resource-info {
  width: 26.381766382%;
}
.contacts-info {
  width: 20.85470085%;
}
.copyright-info,
.authors-info,
.images-resource-info,
.contacts-info {
  float: left;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 0 30px 0;
  line-height: 25px;
}
.copyright-info span,
.authors-info span,
.images-resource-info span,
.contacts-info span {
  display: block;
}
.copyright-info span:first-of-type,
.authors-info span:first-of-type,
.images-resource-info span:first-of-type,
.contacts-info span:first-of-type {
  color: #B297C4;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
}
.copyright-info span:last-of-type,
.authors-info span:last-of-type,
.images-resource-info span:last-of-type,
.contacts-info span:last-of-type {
  color: #929292;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
}
.follow-us-links,
.footer-navigation {
  float: left;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 0 40px 0;
  width: 26.381766382%;
}
.follow-us-links > a {
  text-decoration: none;
  margin-right: 7px;
}
.follow-us-links img {
  width: 20px;
  height: 20px;
}
.footer-navigation {
  color: #B297C4;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
}
.footer-navigation a {
  text-decoration: none;
  color: #B297C4;
}
.footer-navigation a:focus {
  text-decoration: none;
}
.homepage-image-slider {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0;
  height: 420px;
  background: url("../../images/slider-bg.jpg") repeat-x 50% 14%;
  width: 1130px;
  border-left: 20px solid #ffffff;
  border-right: 20px solid #ffffff;
  border-top: 20px solid #ffffff;
  border-bottom: 1px solid #fff;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.left-slider-arrow,
.right-slider-arrow {
  position: absolute;
  top: 50%;
  background: transparent;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
  transform: translate(0, -50%);
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.left-slider-arrow::after,
.right-slider-arrow::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 19px;
  top: -1px;
}
.left-slider-arrow {
  left: 0;
  border-radius: 0 8px 8px 0;
}
.left-slider-arrow::after {
  left: 0;
  background: url("../../images/slider-arrow-left.png") no-repeat 0 0;
}
.right-slider-arrow {
  right: 0;
  border-radius: 8px 0 0 8px;
}
.right-slider-arrow::after {
  right: 0;
  background: url("../../images/slider-arrow-right.png") no-repeat 0 0;
}
.wallpaper-title,
.wallpaper-site,
.wallpaper-recap {
  color: #f9e3d3;
  opacity: 0.8;
}
.wallpaper-site {
  text-align: right;
  height: 38px;
  box-sizing: border-box;
  padding: 12px;
  font-size: 13px;
}
.wallpaper-site p {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.wallpaper-logo {
  height: 86px;
  padding: 27px 0 17px 0;
}
.wallpaper-logo img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.wallpaper-title {
  height: 62px;
  padding: 9px 0 9px 0;
  pointer-events: none;
}
.wallpaper-title p {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 63px;
}
.wallpaper-recap {
  height: 20px;
  padding: 8px 0 8px 0;
}
.wallpaper-recap p {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 21px;
}
.wallpaper-button {
  height: 40px;
  padding: 15px 0 15px 0;
  color: #f9e3d3;
}
.wallpaper-button button {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 17px;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid #f9e3d3;
  color: #f9e3d3;
  font-family: "FjallaOne";
  padding: 7px 13px;
  cursor: pointer;
}
.subslider-navigation {
  height: 170px;
  margin: 0 auto 72px;
  width: 1170px;
  max-width: 1170px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
}
.subslider-navigation::after,
.subslider-navigation::before {
  content: '';
  display: table;
}
.subslider-navigation::after {
  clear: both;
}
.subslider-navigation > section {
  background: #fff;
  position: relative;
  float: left;
  height: 100%;
  width: 25.642%;
  border-radius: 0 0 5px 5px;
}
.subslider-navigation > section:last-of-type {
  width: 23.07825756%;
}
.subslider-navigation > section:not(:last-of-type)::before {
  content: '';
  z-index: 1;
  position: absolute;
  height: 80%;
  top: 0;
  right: 0;
  box-shadow: 1px 10px 10px 2px #000;
  background: #000;
  transform: rotate(3deg);
}
.subslider-navigation > section:not(:last-of-type)::after {
  content: '';
  position: absolute;
  right: -5px;
  top: 0;
  width: 20px;
  height: 100%;
  background: #fff;
  z-index: 1000;
}
.subnav-title,
.subnav-link {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 17px;
}
.subnav-logo {
  width: 70px;
  height: 52px;
  display: block;
  margin: 15px auto;
  text-align: center;
}
.subnav-title {
  color: #747474;
  padding: 5px;
  font-size: 20px;
}
.subnav-link {
  padding: 5px;
}
.subnav-link a {
  color: #979797;
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
}
.subnav-link a:hover {
  color: #979797;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  max-width: 1170px;
}
.container::after,
.container::before {
  content: '';
  display: table;
}
.container::after {
  clear: both;
}
.container main,
.container aside {
  float: left;
}
.container main {
  width: 76.92307693%;
  height: 1400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.container main::after,
.container main::before {
  content: '';
  display: table;
}
.container main::after {
  clear: both;
}
.container aside {
  width: 23.07692307%;
}
.container .news-box,
.container .events-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.container .events-box {
  height: 368px;
  margin-bottom: 30px;
}
.fashion-article {
  width: 270px;
  margin: 0 30px 30px 0;
  background: #fff;
  border-radius: 5px;
  float: left;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.fashion-article .information,
.fashion-article .readmore-link {
  width: 100%;
}
.fashion-article .information {
  border-radius: 5px 5px 0 0;
  padding: 20px;
  box-sizing: border-box;
}
.fashion-article .title,
.fashion-article .recap {
  word-wrap: break-word;
}
.fashion-article .title {
  color: #747474;
  padding: 10px 0;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 18px;
}
.fashion-article .recap {
  color: #979797;
  line-height: 23px;
  font-size: 14px;
  font-family: "Oxygen", sans-senrif;
}
.fashion-article .cover-image {
  padding: 20px 0;
}
.fashion-article .readmore-link {
  border-radius: 0 0 5px 5px;
  height: 50px;
}
.fashion-article .readmore-link a {
  text-decoration: none;
  position: relative;
  border-radius: 0 0 5px 5px;
  font-size: 13px;
  color: #fff;
  background: #B297C4;
  display: block;
  padding: 0 20px;
  line-height: 50px;
}
.fashion-article .readmore-link a::after {
  content: '';
  background: url("../../images/readmore-link-arrow.png") no-repeat 0 0;
  position: absolute;
  top: 48%;
  transform: translate(0, -48%);
  left: 85px;
  width: 11px;
  height: 11px;
}
.search-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.search-box > form {
  height: 112px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 20px;
}
.search-title,
.search-query-wrapper {
  height: 50%;
}
.search-title > span {
  color: #747474;
  font-size: 18px;
  font-weight: bold;
  display: block;
}
.search-query-wrapper > p {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.search-query-wrapper > p input {
  width: 97%;
  font-family: "FjallaOne", sans-serif;
  height: 25px;
  background: #F0F0F0;
  border-radius: 5px;
  border: 0;
  padding: 3px 0 3px 7px;
}
.search-query-wrapper > p input:focus {
  outline: none;
}
.search-query-wrapper > p button {
  position: absolute;
  right: 4px;
  border: 0;
  top: 2px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: transparent;
}
.search-query-wrapper > p button::after {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 15%;
  content: '';
  background: url(../../images/search.png) no-repeat 0 0;
  pointer-events: none;
  width: 25px;
  height: 25px;
}
.news-box {
  height: 295px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 20px;
}
.news-title {
  height: 10%;
}
.news-title span {
  color: #747474;
  font-size: 18px;
  font-weight: bold;
  display: block;
}
.news-list {
  height: 90%;
}
.news-list li {
  position: relative;
  font-family: "Oxygen", sans-serif;
  padding: 12px 17px;
}
.news-list li > a {
  font-size: 15px;
  color: #A5A5A5;
  text-decoration: none;
}
.news-list li > a:focus {
  text-decoration: none;
}
.news-list li:not(:last-of-type) {
  border-bottom: thin solid #F0F0F0;
}
.news-list li::before {
  content: '';
  color: #B297C4;
  background: url(../../images/list-arrow.png);
  width: 6px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 18px;
}
.events-box {
  height: 295px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 20px;
}
.events-title {
  height: 7%;
}
.events-title span {
  color: #747474;
  font-size: 18px;
  font-weight: bold;
}
.events-list {
  height: 93%;
}
.events-list section {
  position: relative;
  padding: 20px 0;
  height: 65px;
}
.events-list section:not(:last-of-type) {
  border-bottom: thin solid #EBEDE8;
}
.events-logo,
.events-content {
  float: left;
  height: 65px;
  margin: 0;
}
.events-logo {
  border-radius: 5px;
  border: 0;
  background: #B297C4;
  width: 28.26086956%;
  text-align: center;
}
.events-logo img {
  width: auto;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.events-content {
  width: 71.73913044%;
  padding-left: 20px;
  box-sizing: border-box;
}
.events-content span {
  display: block;
  color: #B79EC8;
  padding: 5px 0;
  font-family: "FjallaOne", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.events-content p {
  padding: 5px 0;
}
.events-content a {
  font-family: "Oxygen", sans-serif;
  color: #C1C1C1;
  font-size: 13px;
}
