@import "../../common/styles/less/vars";
@import "../../common/styles/less/mixins";
@import "../../common/styles/less/fonts";

.upsert{
  position: relative;
  top: 40px;

  textarea { resize:vertical ; }

  button[type="submit"]{
    width: 120px;
    float: right;
  }
}
