<div class="upsert" >
    <article>

        <!-- FORM-UPSERT -->
        <form ng-submit="ctrl.upsert()" name="upsertForm">

            <!-- HEADER -->
            <section class="form-group "  ng-class="{ 'has-error' : upsertForm['article-header'].$invalid && !upsertForm['article-header'].$pristine,
                                                        'has-success' : upsertForm['article-header'].$valid }">
                <label control-label>Title</label>
                <input type="text" name="article-header" class="form-control article-header" ng-model="ctrl.article.header" value="{{ctrl.article.header}}" ng-minlength="10" required>
                <p ng-show="upsertForm['article-header'].$error.minlength" class="help-block">Please, provide a more detailed header for the article</p>
            </section>

            <!-- CONTENTS -->
            <section class="form-group "  ng-class="{ 'has-error' : upsertForm['article-contents'].$invalid && !upsertForm['article-contents'].$pristine,
                                                        'has-success' : upsertForm['article-contents'].$valid }">
                <label control-label>Contents</label>
                <text-angular name="article-contents" ng-model="ctrl.article.contents"></text-angular>
                <p ng-show="upsertForm['article-contents'].$error.minlength" class="help-block">Please, provide a more detailed contents for the article</p>
            </section>

            <section class="submit-wrapper">
                <button type="submit" class="btn btn-lg btn-outline btn-block">Save to MyArticles</button>
            </section>
        </form>
    </article>
</div>