<section class="wrapper">
    <div class="options-container">
        <a ng-click="ctrl.postArticle()" class="article-option">
            <i class="glyphicon glyphicon-cloud-download"></i></a>
        <a ng-click="ctrl.previewArticle()" class="article-option">
            <i class="glyphicon glyphicon-fullscreen"></i></a>
        <a ng-click="ctrl.editArticle()" class="article-option">
            <i class="glyphicon glyphicon-pencil"></i></a>
        <a ng-click="ctrl.removeArticle()" class="article-option">
            <i class="glyphicon glyphicon-trash"></i></a>
    </div>
</section>