.welcome{
  position: relative;
  top: 140px;

  > div{
    margin: 30px auto;
    width: 70%;
    text-align: center;

    a[role='button']{
      font-size: 20px;
      margin: 20px 30px;
      padding: 10px 15px;
      width: 120px;
      font-weight: bold;
    }

    h1{
      font-size: 110px;
      text-shadow: 1px 1px 1px #c4a1f9;
      font-family: "EuphoriaScript";
    }

    h1 + p {
      font-family: Helvetica;
      font-size: 30px;
      margin-top: 30px;
      color: gray;
    }
  }
}

